/* work sans Font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared style */
.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    padding: 20px 25px;

}

.light-gray-text {
    color: #727272;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}



* {
    font-family: 'Work Sans', sans-serif;
}

/* Header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner-style */
.banner-content {
    max-width: 860px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}




/* main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams container styles */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.temas-content-title {
    font-size: 2.8rem;
}

.quick {
    color: #727272;
    font-weight: 500;
}

.our {
    color: #131313;
    font-weight: 700;
}

.feature {
    color: #FF900E;
    font-weight: 700;
}

.teams-content-description {
    color: #727272;
    font-weight: 400;
    font-size: 1rem;
}

/* features section style */
.features {
    margin-top: 130px;
    display: flex;
    gap: 100px;
}

.features .section-title {
    border-left: 5px solid #FF900E;
    padding: 20px;
}

.feature-content .card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature-img img {
    height: 90%;
    margin-left: 80px;
}

.ten-years-badge {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 340px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;

}

.ten-years-badge h2 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

.ten-years-badge p {
    font-size: 1.5rem;
    font-weight: 500;
}

/* facts section style */
.facts-description {
    color: #727272;
    font-weight: 400;
    font-size: 1rem;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;

}

.facts-card-container .card-title {
    font-weight: 600;
    color: #727272;
    font-size: 1.25rem;
    margin-top: 5px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;

}

/* sponsor section styles */
.sponsor-container {
    text-align: center;
}

.sponsor-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.sponsor-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}

/* footer style */
footer {
    max-width: 1440px;
    border-radius: 8px;
    background: #FFF4E7;
    margin: 100px auto;
}
footer p{
    padding: 40px 410px;
    color: #424242;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}
/* responsive media queries */
/* Mobile Devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsor-img-container,
    .features {
        flex-direction: column;
    }

    .feature-img img {
        width: 100%;
        margin: 0%;
    }

    .sponsor-img-container img {
        width: 165px;
        height: 50px;
        position: static;
        max-width: 300px;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container,
    .common {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }
    footer p{
        padding: 40px;
    }
}

/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 50px;
    }

    .common {
        padding-left: 20px;
        padding-right: 20px;
    }

    nav,
    .teams-container,
    .sponsor-img-container,
    .features {
        flex-direction: column;
    }
    footer p{
        padding: 40px;
    }
}